
{% block body %}
    <h1>Publicites list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Profile</th>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for publicite in publicites %}
            <tr>
                <td><a href="{{ path('publicites_show', { 'id': publicite.id }) }}">{{ publicite.id }}</a></td>
                <td><img src="{{ asset(publicite.webPath)}}" height="42" width="42" ></td>


                <td>{{ publicite.name }}</td>
                <td>{{ publicite.description }}</td>

                <td>
                    <ul>
                        <li>
                            <a href="{{ path('publicites_show', { 'id': publicite.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('publicites_edit', { 'id': publicite.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('publicites_new') }}">Create a new publicite</a>
        </li>
    </ul>
{% endblock %}
